<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Nombre del juego</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="card" style="width: 18rem;">
            <img src={{selectedGame?.background_image}} class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> {{selectedGame?.name}} </h5>
              <p class="card-text">Plataformas:</p>
              <ul *ngFor="let platform of selectedGame?.platforms" class="list-group list-group-flush">
                <li class="list-group-item">{{platform.platform.name}}</li>
              </ul>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Metacritic: {{selectedGame?.metacritic}}</li>
              <li class="list-group-item">Página web: {{selectedGame?.website}}</li>
              <li class="list-group-item">Fecha de lanzamiento: {{selectedGame?.released}}</li>
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>